<section class="w-full h-[30%] bg-white flex justify-center relative">
    <div class="w-2/3 h-full bg-custom_blue relative top-[4vh]">
        <h1 class="text-white">Experience</h1>
    </div>
</section>