---

---

<section
  class="w-full bg-custom_blue bg-[url('/imgs/hero-image-car-dealership.jpg')] bg-cover bg-no-repeat bg-center h-[65%]"
>
  <div
    class="h-full w-[60%] z-2 bg-gradient-to-r from-custom_dark_blue from-50% to-transparent"
  >
    <div
      class="h-full w-full bg-[url('/imgs/bg-design-hero.webp')] bg-auto bg-no-repeat bg-left-bottom"
    >
      <div class="flex flex-col items-center justify-center h-full">
        <div class="flex flex-col items-start justify-center h-full">
          <h1
            class="text-4xl md:text-5xl lg:text-6xl text-white font-bold text-center"
          >
            Dreams Come True
          </h1>
          <p class="mt-4 text-lg font-light md:text-xl lg:text-4xl text-white text-center capitalize">
            Buy your dream car today
          </p>
          <p class="mt-4 font-light text-lg md:text-xl lg:text-4xl text-white text-center capitalize">
            Starting from $2,000
          </p>
          <div class="flex flex-row gap-5">
            <a
            href="/cars"
            class="mt-6 px-10 py-4 bg-custom_red text-white text-xl font-regular shadow-lg hover:bg-custom_blue transition duration-300 uppercase"
            >Search Cars</a
          >
          <a
            href="/cars"
            class="mt-6 px-10 py-4 bg-white text-black text-xl font-regular shadow-lg hover:bg-custom_blue transition duration-300 uppercase"
            >Search Cars</a
          >
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
