---
const {heading, description} = Astro.props;
---
<div class="w-[80%] flex justify-start items-center gap-36">
      <h1 class="text-5xl font-bold">{heading}</h1>
      <p class="text-lg text-gray-600 w-[50%]">
        {description}
      </p>
    </div>